<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" type="image/png" href="../img/logo.png" />
    <title>Grupos - Grupo N°1</title>
</head>
<body>
    <header>
        <label for="">Grupos</label>
    </header>
    <section>
        <div class="container">
            <div class="contenedor">
                <img src="../img/logo.png" alt="pelicula">
            </div>
            <label for="">Nombre del grupo: </label>
            <label for="">Integrantes: </label>
        </div>
    </section>
    <footer>
        <label for="">Peliculas - Grupo N°1 - apilink</label>
    </footer>
    <script src="../assets/js/details.js"></script>
</body>
</html>