<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" type="image/png" href="../img/logo.png" />
    <title>Grupos - Grupo N°1</title>
</head>
<body>
    <header>
        <div>
        <label for="">Grupos</label>
        </div>
    </header>
    <section>
            <div class="container">
                <label for="">Nombre: </label>
                <div class="contenedor">
                    <img src="../img/logo.png" alt="pelicula">
                </div>
                <a href="details.html">
                <input type="button" value="Mas detalles" >
                </a>
            </div>
            <div class="container">
                <label for="">Nombre: </label>
                <div class="contenedor">
                    <img src="../img/logo.png" alt="pelicula">
                </div>
                <a href="details.html">
                <input type="button" value="Mas detalles" >
                </a>
            </div>
            <div class="container">
                <label for="">Nombre: </label>
                <div class="contenedor">
                    <img src="../img/logo.png" alt="pelicula">
                </div>
                <a href="details.html">
                <input type="button" value="Mas detalles" >
                </a>
            </div>
            <div class="container">
                <label for="">Nombre: </label>
                <div class="contenedor">
                    <img src="../img/logo.png" alt="pelicula">
                </div>
                <a href="details.html">
                <input type="button" value="Mas detalles" >
                </a>
            </div>
            <div class="container">
                <label for="">Nombre: </label>
                <div class="contenedor">
                    <img src="../img/logo.png" alt="pelicula">
                </div>
                <a href="details.html">
                <input type="button" value="Mas detalles">
                </a>
            </div>
            <div class="container">
                <label for="">Nombre: </label>
                <div class="contenedor">
                    <img src="../img/logo.png" alt="pelicula">
                </div>
                <a href="details.html">
                <input type="button" value="Mas detalles">
                </a>
            </div>
    </section>
    <footer>
        <div>
        <label for="">Grupos - Grupo N°1 - https://bootcamp-adviters.herokuapp.com </label>
        </div>
    </footer>
    <script src="../index.js"></script>
</body>
</html>