<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" type="image/png" href="../img/logo.png" />
    <title>Grupos - Grupo N°1</title>
</head>
<body>
    <header>
        <label for="group">Grupos</label>
    </header>
    <section id="cards">
        <div class="container">
        <img src="../img/card.jpg" alt="Nombre del grupo">
            <div class="contenedor">
                <label for="nombre-grupo">Nombre: </label>
                <label for="numero-grupo">Numero de grupo: </label>
                <input type="button" value="Mas detalles...">
            </div>
        </div>
        <!-- <div class="container">
        <img src="../img/card.jpg" alt="Nombre del grupo">
            <div class="contenedor">
                <label for="nombre-grupo">Nombre: </label>
                <label for="numero-grupo">Numero de grupo: </label>
                <input type="button" value="Mas detalles...">
            </div>
        </div>
        <div class="container">
        <img src="../img/card.jpg" alt="Nombre del grupo">
            <div class="contenedor">
                <label for="nombre-grupo">Nombre: </label>
                <label for="numero-grupo">Numero de grupo: </label>
                <input type="button" value="Mas detalles...">
            </div>
        </div>
        <div class="container">
        <img src="../img/card.jpg" alt="Nombre del grupo">
            <div class="contenedor">
                <label for="nombre-grupo">Nombre: </label>
                <label for="numero-grupo">Numero de grupo: </label>
                <input type="button" value="Mas detalles...">
            </div>
        </div>
        <div class="container">
        <img src="../img/card.jpg" alt="Nombre del grupo">
            <div class="contenedor">
                <label for="nombre-grupo">Nombre: </label>
                <label for="numero-grupo">Numero de grupo: </label>
                <input type="button" value="Mas detalles...">
            </div>
        </div>
        <div class="container">
        <img src="../img/card.jpg" alt="Nombre del grupo">
            <div class="contenedor">
                <label for="nombre-grupo">Nombre: </label>
                <label for="numero-grupo">Numero de grupo: </label>
                <input type="button" value="Mas detalles...">
            </div>
        </div> -->
    </section>
    <footer>
        <ul>
            <li>Grupo N°1</li>
            <li>Proyecto Grupos</li>
        </ul>
    </footer>
    <script src="../assets/js/index.js"></script>
</body>
</html>